@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

body {
	background-color: #ededed;
}

.bg-dark {
	background-color: #212121 !important;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 65px;
	padding-right: 65px;
	font-family: 'Cormorant Garamond', serif;
	font-size: 27px;
} .nav-item {
	padding-top: 10px;
}.navbar li{
	padding-right: 10px;
	padding-left: 10px;
} .navbar a {
	color: #242424 !important;
} .navbar a:hover {
	color: black !important;
} .navbar-brand {
	padding-right: 30px;
} .navbar .dropdown-item{
	color: #292929 !important;
} .navbar .dropdown-item:hover{
	color: black !important;
} .navbar .social-medias {
	color: white;
} .social-medias i{
/*	padding-top: 25px;*/
	padding-left: 5px;
	padding-right: 20px;
}


.top-content{
	padding: 50px;
	background-image: url("forestBG.png");
	background-repeat: no-repeat;
	background-size: cover;
} .top-content-img { 
	display: block;
	width: 100%;
	height: auto;
} .top-content .card{
	opacity: .92;
}

.max-width-center{
	margin-right: auto;
	margin-left: auto;
	max-width: 1250px;
}


.email-sign-up{
	padding: 70px;
	background-color: white;
} .email-card{
	/*color: white;
	background-color: #2b2b2b;
	padding: 50px !important;*/
} #exampleInputEmail1{
	max-width: 500px;
	font-size: 1.2em;
}

.card{
	padding: 10px;
} .card p {
	    font-family: 'Baskervville', serif;
	    font-size: 1.1em;
} .email-sign-up p {
	font-family: 'Baskervville', serif;
	font-size: 1.1em;
}

.garamond {
	font-family: 'Cormorant Garamond', serif;
} h4.garamond {
	font-size: 2.2em;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 25px;
} h3.garamond {
	font-size: 2.5em;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 25px;
} h5.garamond {
	padding-top: 10px;
	font-size: 1.8em;
} h6.garamond {
	padding-top: 10px;
	font-size: 1.5em;
}

.books-show{
	padding: 15px 50px;
}



.more-books{
	padding: 50px;
} 


.author-info{
	padding: 50px;
} .author-info img {
	width: 100%;
	height: auto;
}


.footer{
	padding: 50px 150px 25px 150px;
	color: white;
} .footer p{
	font-family: 'Baskerville', serif;
} .footer li{
	list-style: none;
} .footer a{
	font-family: 'Baskerville', serif;
	color: white;
	font-size: 1.1em;
}  .footer a:hover{
	text-decoration: none;
	color: white;
	font-weight: bold;
} .footer-logo{
	height: auto;
	width: 300px;
} .footer-media{
	font-size: 1.8em;
}.footer ul{
	padding-left: 10px;
}
.clear {
    clear: both;
}


.policies {
	width: 200px;
	text-align: right;
} .socials {
	width: 175px;
	margin-left: 10px;
}




@media screen and (max-width: 1200px) {

.xl-top-margin{
	margin-top: 50px;
}

.footer{
	padding-left: 50px;
}


}



@media screen and (max-width: 992px) {

.lg-top-margin{		
	margin-top: 50px;
}

.nav-item {
	padding-top: 0px;
}


}





@media screen and (max-width: 768px) {


.socials{
	width: 100%;
	float: left;
}

.policies{
	float: left !important;
	text-align: left;
	width: 100%;
}

.md-top-margin{
	margin-top: 50px;
}

.author-pic{
	width: 80%;
	margin-left: 10%;
}

.top-content{
	padding-left: 5px;
	padding-right: 5px;
}

}